@inherits LayoutComponentBase
@inject LocalStorage LocalStorage
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@using DataModel

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code
{
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Main Layout 함수 호출 시작");

        // Local Storage 값 불러오기/저장 예시
        var culture = await LocalStorage.GetCultureAsync();
        Console.WriteLine($"Culture : {culture}");

        // IndexedDB 값 저장 예시
        var http = new HttpClient
        {     
            BaseAddress = new Uri(NavigationManager.BaseUri) 
        };

        try
        {
            var dataString = await http.GetStringAsync("sampleData.json");

            Console.WriteLine(dataString);

            await JS.InvokeVoidAsync("indexedDbFunctions.saveData", "sampleDataList", dataString);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"데이터 로드 실패: {ex.Message}");
        }
    }

}
