@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code
{
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Main Layout 함수 호출 시작");
        // 비동기 초기화 로직 (HttpClient 호출 등)
        await Task.Delay(1000); // 예시
    }

}
